<div id="post-list">
    <% page.posts.forEach(post => { %>
        <div class="index-post">

            <div class="index-post-title">
                <a id="index_post_title" href="/<%- post.path %>">
                    <h1 class="index-post-title-text">
                        <%- post.title %>
                    </h1>
                </a>
            </div>

            <div class="index-post-meta-info">
                <span class="index-post-date">
                    📅<%- date(post.date, "YYYY-MM-DD") %>
                </span>

                <span class="index-post-tags">
                    <% post.tags.forEach(tag =>{ %>
                        <a class="index-post-tag" href="/tags/<%- tag.name %>">
                            🏷️<%- tag.name %> 
                        </a>
                    <% }) %>
                </span>
            </div>

                <div class="index-post-excerpt">
                    <%- post.more.replace(/<\/?.+?\/?>/g, "").substring(0, 100) %>
                    ...
                </div>
            

            <a href="/<%- post.path %>">
                <div class="read-more-button">
                    <span>
                        Read more
                    </span>
                </div>
            </a>
                
        </div>
    <% }); %> 
</div>
<div id="paginator">
    <%- paginator() %>
</div>