<div class="title">
    <p id="site_title">
        <%- theme.author %>'s Blog
    </p>
</div>

<div class="profile">
    <img src="<%- theme.profilepic %>">
    <p>
        <%- theme.about.Bio %> 
    <br>
        Contact me: My <a href="<%- theme.about.github %> ">GitHub</a>
        <br>
        or <a href="mailto:<%- theme.about.email %> ">email</a>
    </p>
</div>